#contenedor-articulos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items: center;
    justify-items: center;
    align-self: center;
    font-family: 'Mukta', sans-serif;
}

#carrito-contador {
    margin-bottom: 0;
    margin-top: 8px;
}

a.nav-item.nav-link {
    cursor: pointer !important;
}


.articulos {
    max-width: 30%;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(1, 1, 1, 0.3);
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}

.login {
    width: 100%;
}

.home-icon {
    margin-top: -1%;
}

.imgCarrito {
    width: 50px;
    height: 50px;
}

button.btn.btn-primary.btn-comprar {
    margin-left: 3.6%;
    margin-top: 1%;
}

.btn-eliminar {
    width: 88px;
}

.login-form {
    width: 100%;
    margin-top: 1%;
}

.labelpw {
    margin-left: 1%;
    margin-right: -0.7%;
}

.labelus {
    margin-left: 1%;
    margin-right: -0.8%;
}

.btn {
    margin-top: -0.4%;
    margin-left: 0.5%;
}

#user {
    height: 34px;
    margin-left: 1%;
}

#password {
    height: 34px;
    margin-left: 1%;
}