<div id='contenedor-login' class='login'>
    <div class="login-form">
        <form action="/home" method="POST" class="form-login">
        <div class="form-group form">
            <label class="labelus" for="user">Usuario: </label>
            <input type="text" placeholder="Ingresar usuario" id="user" name="user">
            <span>
                <label class="labelpw" for="password">Contraseña:</label>
                <input type="password" placeholder="Ingresar contraseña" id="password" name="password">
                <span>
                    <button type="submit" class="btn btn-dark">Ingresar</button>
                </span>
            </span>
        </div>
    </form>
    </div>
</div>